@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    background-color: black;
    background-image: url(assets/circuit.PNG);
    backdrop-filter: blur(100px);
}

#navLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#imgLogo {
    margin: 10px;
}

#textLogo {
    color: aliceblue;
    font-size: xx-large;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#pLogo{
    margin: 20px;
    border-radius: 20px;
}

#pText{
    margin: 20px;
    border-radius: 20px;
    font-size: medium;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#pName{
    margin: 20px;
    font-size: xx-large;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.glow {
  color: #fff;
  text-shadow: none;
  transition: text-shadow 0.3s ease;
}

.glow:hover {
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.emph {
  transition: transform 0.3s ease;
}

.emph:hover {
  transform: scale(1.05);
}

.project-card-link {
  display: block;
  text-decoration: none; 
  color: inherit; 
}
